body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

.main {
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    padding: 0.6rem;
    grid-gap: 0.6rem;
    grid-template-rows: 9fr 1fr;
    grid-template-columns: 1fr 2fr;
}

/* Sidebar */
/* Nav */
.sidebar {
    background-color: #000;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.sidebar ul {
    margin: 0;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidebar ul li, .library .head>a { /*Style for library-head*/
    padding: 0.25rem 0.75rem;
    line-height: 2.5rem;
}
.sidebar ul li a, .library .head a { /*Style for library-head*/
    color: #b3b3b3;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.sidebar ul li a:hover {
    color: #fff;
}
.sidebar ul li i {
    font-size: 1.5rem;
}
/* Library */
/* Library head */
.library {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0.6rem;
}
.library .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
}
.library .head a img {
    opacity: 0.6;
    height: 1.5rem;
    width: 1.5rem;
}
.library .head .icons {
    display: flex;
    gap: 0.8rem;
    color: #b3b3b3
}
.library .head .icons i:hover, .library .head a:hover {
    color: #fff;
}
.library .head a:hover>img {
    opacity: 1;
}
/* Library-cards */
.library .lib-cards {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.library .lib-cards .cards {
    background-color: #232323;
    border-radius: 0.6rem;
    margin: 0.5rem 0;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.library .lib-cards .cards .instruct {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.library .lib-cards .cards .instruct .instruct-h {
    font-size: 0.9rem;
    font-weight: 700;
}
.library .lib-cards .cards .instruct .instruct-b {
    font-size: 0.8rem;
    font-weight: 400;
}
.library .lib-cards .cards .action .badge, .main-content .top-nav .nav-buttons .badge { /*Also style for top-nav of main-content*/
    padding: 0.25rem 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    border: none;
    border-radius: 1rem / 50%;
}
:is(.library .lib-cards .cards .action .badge, .main-content .top-nav .nav-buttons .badge, .main-content .nav-buttons .icons):hover { /*Also style for top-nav of main-content*/
    transform: scale(1.05);
    cursor: pointer;
}

/* Main content */
.main-content {
    background-color: #121212;
    border-radius: 0.6rem;
    overflow: auto;
}
/* Top nav */
.main-content .top-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
}
.main-content .top-nav .nav-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.main-content .top-nav .nav-icons:hover {
    cursor: pointer;
}
.main-content .top-nav div .icons {
    background-color: #000;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    padding: 0.5rem;
}
.main-content .top-nav div .icons img {
    height: 1rem;
    width: 1rem;
    vertical-align: 6%;
}
.main-content .top-nav .nav-buttons .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content .top-nav .nav-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
#install-app {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
}
#install-app i {
    position: relative;
    left: -0.3rem;
    font-size: 1rem;
}
@media(max-width: 1000px) {
    .hidden {
        display: none;
    }
}
/* Content part (Main-content panel) */
.content {
    padding: 0.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.content h2 {
    margin-top: 0;
}
.content section .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1.2rem;
}
@media(max-width: 1320px) {
    .content section .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1.2rem;
    }
}
@media(max-width: 1120px) {
    .content section .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1.2rem;
    }
}
@media(max-width: 845px) {
    .content section .container {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 2rem;
    }
}
@media(max-width: 670px) {
    .content section .container {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 0.75rem;
    }
}
@media(max-width: 620px) {
    .content section .container {
        grid-template-columns: repeat(1, minmax(170px, 220px));
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        grid-gap: 1.2rem;
    }
}
@media(max-width: 490px) {
    .content section .container {
        grid-template-columns: repeat(1, minmax(170px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        padding: 0 0;
        justify-content: start;
    }
}

.content section .container .cards {
    background-color: #181818;
    padding: 1rem;
    border-radius: 0.6rem;
}
.content section .container .cards:hover {
    cursor: pointer;
    background-color: #232323;
}
.content section .container .cards img{
    width: 100%;
    border-radius: 0.6rem;
}
.content section .container .cards .title {
    font-weight: 600;
    padding: 0 0 0.25rem;
}
.content section .container .cards .text {
    color: #6a6a6a;
    font-size: 0.875rem;
    font-weight: 600;
}
.content .footer {
    padding: 0.5rem 1rem 2.5rem;
}
.content .footer #links {
    height: 40px;
    margin-top: 40px;
    border-top:2px solid rgba(255, 255, 255, 0.1);
}

.music-player {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
}
.current-music {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 25%;
}
.img-frame {
    height: 3.5rem;
    width: 3.5rem;
    background-image: url(assets/music-player-assets/album_picture.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}
.music-player .song-deets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
}
.music-player .song-deets a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
    font-weight: 600;
}
.music-player .song-deets #owner {
    font-size: 0.65rem;
    color: #b3b3b3;
    font-weight: 900;
}
.current-music img {
    cursor: pointer;
}
.current-music #icon2 {
    height: 2.1rem;
    /* width: 1.5rem; */
    position: relative;
    top: 0.1rem;
}